@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #071436;
  height: fixed;
}

.navbar-brand {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat";
}

.navbar-brand:hover {
  color: rgb(129, 192, 235);
}

.nav-link {
  color: white !important;
  margin: 0 10px;
  font-family: "Nunito";
  font-size: 18px;
}

.nav-link:hover {
  color: rgb(129, 192, 235);
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.8s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.8s;
}

.banner {
    height: 60vh;
    padding-top: 60px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading {
  width: 80%;
}

.display-6 {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
}

.display-6:hover:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 4px;
  border-radius: 2px;
  width: 75%;
  /* background: #444; */
  background-image: linear-gradient(left, transparent 0%,rgb(192, 241, 235) 50%,transparent 100%);
}

.buttons > button {
    margin: 20px 10px;
}